@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		
	}
	body{
        
		font-family: 'Lato', sans-serif;
    	font-family: 'Roboto', sans-serif;
	}
	h1 {
		color: #fff;
	}
	a{
		color: #fff;
		text-decoration: none;
		align-items: center;
	}
	ul{
		list-style: none;
	}
	.container{
		margin: auto;
		width: 90%;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 60px;
		top: 0;left: 0;
		position: fixed;
    	background: #58146c
	}
	.nav-main{
		font-size: 17px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		padding: 20px 0;
	}
	.nav-brand {
		width: 50px;
	}
	/*nav left*/
	.nav-main ul{
		display: flex;
	}
	.nav-main ul li{
		padding: 10px;
	}
	.nav-main ul.nav-menu{
		flex: 1;
		margin-left: 20px;
	}
	/*NAV RIGHT*/
	.nav-menu-right{
		align-items: center;
	}
	.buscar{
		padding: 10px;
	}
	.buscar input{
		width: 400px;
		height: 30px;
		padding: 0 20px;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid silver;
		border-radius: 30px;
	}
	
	.nav-brand2 {
		width: 50px;
	}
	.nav-main ul li a{
		padding: 5px;	
	}
	.nav-main ul a:hover{
		border-bottom: 2px solid #ffffff;
	}
	.nav-menu-rightul a:hover{
		border: 2px solid #fff;
	}

	.nav-main .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.nav-main .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #58146c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #ffffff;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #2a0639;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/
    /*N1*/
   

    /*CUADRAO1*/
    .cuadrado1 {
        width: 65%;
        height: 15%;
        background-color: #fff5e9;
        position: absolute;
        left: 15%;
        top: 10%;
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
        padding: 40px;
    }
   
	
    /*titulo1*/
    .titulo1{
        width: 100%;
        height: 10%;
        position: absolute;
        left: 2%;
        top: 10%;
	}
    .titulo1 h3{
        padding: 10px;
        font-size: 35px;
    }
	.titulo1 input{
		width: 80%;
        position: absolute;
		padding: 0 20px 10px;
        margin-left: .6em;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid rgb(12, 12, 12);
		border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
	}
    .N1{
        width: 100%;
        height: 30%;
        position:  absolute;
        font-size: 45px;
        color: rgb(0, 0, 0);
        outline: rgb(0, 0, 0);
       
        left: 2%;
        top: 45%;
	}
    .N1 h3{
        padding: 10px;
        font-size: 35px;
    }
    /*anio1*/
    .anio1{
        width: 90%;
        height: 10%;
        position: absolute;
        left: 88%;
        top: 35%;
	}
    .anio1 h3{
        padding: 10px;
        font-size: 35px;
    }
	.anio1 input{
		width: 80%;
        position: absolute;
		padding: 0 20px 10px;
        margin-left: .6em;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid rgb(12, 12, 12);
		border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
	}

      /*CUADRAO2*/
      .cuadrado2 {
        width: 100%;
        height: 100%;
        background-color: #fff5e9;
        position: absolute;
        left: 0%;
        top: 120%;
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
        padding: 40px;
    }
   
	
    /*titulo2*/
    .titulo2{
        width: 100%;
        height: 10%;
        position: absolute;
        left: 2%;
        top: 10%;
	}
    .titulo2 h3{
        padding: 10px;
        font-size: 35px;
    }
	.titulo2 input{
		width: 80%;
        position: absolute;
		padding: 0 20px 10px;
        margin-left: .6em;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid rgb(12, 12, 12);
		border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
	}
    .N2{
        width: 100%;
        height: 30%;
        position:  absolute;
        font-size: 45px;
        color: rgb(0, 0, 0);
        outline: rgb(0, 0, 0);
       
        left: 2%;
        top: 45%;
	}
    .N2 h3{
        padding: 10px;
        font-size: 35px;
    }
    /*anio1*/
    .anio2{
        width: 90%;
        height: 10%;
        position: absolute;
        left: 88%;
        top: 35%;
	}
    .anio2 h3{
        padding: 10px;
        font-size: 35px;
    }
	.anio2 input{
		width: 80%;
        position: absolute;
		padding: 0 20px 10px;
        margin-left: .6em;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid rgb(12, 12, 12);
		border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
	}

 /*CUADRAO3*/
 .cuadrado3 {
    width: 100%;
    height: 100%;
    background-color: #fff5e9;
    position: absolute;
    left: 0%;
    top: 120%;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-shadow: 5px 5px 5px rgb(156, 153, 153);
    padding: 40px;
}


/*titulo3*/
.titulo3{
    width: 100%;
    height: 10%;
    position: absolute;
    left: 2%;
    top: 10%;
}
.titulo3 h3{
    padding: 10px;
    font-size: 35px;
}
.titulo3 input{
    width: 80%;
    position: absolute;
    padding: 0 20px 10px;
    margin-left: .6em;
    font-size: 18px;
    color: rgb(0, 0, 0);
    outline: none;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(156, 153, 153);
}
.N3{
    width: 100%;
    height: 30%;
    position:  absolute;
    font-size: 45px;
    color: rgb(0, 0, 0);
    outline: rgb(0, 0, 0);
   
    left: 2%;
    top: 45%;
}
.N3 h3{
    padding: 10px;
    font-size: 35px;
}
/*anio3*/
.anio3{
    width: 90%;
    height: 10%;
    position: absolute;
    left: 88%;
    top: 35%;
}
.anio3 h3{
    padding: 10px;
    font-size: 35px;
}
.anio3 input{
    width: 80%;
    position: absolute;
    padding: 0 20px 10px;
    margin-left: .6em;
    font-size: 18px;
    color: rgb(0, 0, 0);
    outline: none;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(156, 153, 153);
}
/*CUADRAO4*/
 .cuadrado4 {
    width: 100%;
    height: 100%;
    background-color: #fff5e9;
    position: absolute;
    left: 0%;
    top: 120%;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-shadow: 5px 5px 5px rgb(156, 153, 153);
    padding: 40px;
}


/*titulo4*/
.titulo4{
    width: 100%;
    height: 10%;
    position: absolute;
    left: 2%;
    top: 10%;
}
.titulo4 h3{
    padding: 10px;
    font-size: 35px;
}
.titulo4 input{
    width: 80%;
    position: absolute;
    padding: 0 20px 10px;
    margin-left: .6em;
    font-size: 18px;
    color: rgb(0, 0, 0);
    outline: none;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(156, 153, 153);
}
.N4{
    width: 100%;
    height: 30%;
    position:  absolute;
    font-size: 45px;
    color: rgb(0, 0, 0);
    outline: rgb(0, 0, 0);
   
    left: 2%;
    top: 45%;
}
.N4 h3{
    padding: 10px;
    font-size: 35px;
}
/*anio3*/
.anio4{
    width: 90%;
    height: 10%;
    position: absolute;
    left: 88%;
    top: 35%;
}
.anio4 h3{
    padding: 10px;
    font-size: 35px;
}
.anio4 input{
    width: 80%;
    position: absolute;
    padding: 0 20px 10px;
    margin-left: .6em;
    font-size: 18px;
    color: rgb(0, 0, 0);
    outline: none;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(156, 153, 153);
}
  

    /*botones*/
    .botones{
        width: 100%;
        position: absolute;
        left: 2%;
        top: 75%;
        display: flex;
        justify-content: center;
	}
	.botones button{
		background-color: #f0ad4e; 
        color: white;
        padding: 20px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
	}
     /*botones*/
     .botones{
        width: 100%;
        position: absolute;
        left: 2%;
        top: 85%;
        display: flex;
        justify-content: center;
	}
	.botones button{
		background-color: #f0ad4e; 
        color: white;
        padding: 20px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
	}