@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		
	}
	body{
		background-color: #ffffff;
		font-family: 'Lato', sans-serif;
    	font-family: 'Roboto', sans-serif;
	}
	h1 {
		color: #fff;
	}
	a{
		color: #fff;
		text-decoration: none;
		align-items: center;
	}
	ul{
		list-style: none;
	}
	.container{
		margin: auto;
		width: 90%;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 60px;
		top: 0;left: 0;
		position: fixed;
    	background: #58146c
	}
	.nav-main{
		font-size: 17px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		padding: 20px 0;
	}
	.nav-brand {
		width: 50px;
	}
	/*nav left*/
	.nav-main ul{
		display: flex;
	}
	.nav-main ul li{
		padding: 10px;
	}
	.nav-main ul.nav-menu{
		flex: 1;
		margin-left: 20px;
	}
	/*NAV RIGHT*/
	.nav-menu-right{
		align-items: center;
	}
	.buscar{
		padding: 10px;
	}
	.buscar input{
		width: 400px;
		height: 30px;
		padding: 0 20px;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid silver;
		border-radius: 30px;
	}
	.btn{
		top: 0;
		right: 0;
		background: #f0ad4e;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: white;
		font-size: 20px;
		border-radius: 50%;
		cursor: pointer;
	}
	.nav-brand2 {
		width: 50px;
	}
	.nav-main ul li a{
		padding: 5px;	
	}
	.nav-main ul a:hover{
		border-bottom: 2px solid #ffffff;
	}
	.nav-menu-rightul a:hover{
		border: 2px solid #fff;
	}

	.nav-main .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.nav-main .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #58146c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #ffffff;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #2a0639;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/

    .lb_general{
		padding: 10px;
        font-size: 25px;
		font-weight: bold;
	}

    .datos_usuario {
        position: relative;
		width: 100%;
        height: 150px;
		background: rgba(98, 15, 134, 0.478);
		top: 60px;
        padding: 10px;
    }
    
    .img_user{
        position: absolute;
        width: 120px;
        height: 120px;
		padding: 10px;
        left: 50px;
	}
    .user {
		width: 100px;
        height: 100px;
	}
    .nombre_usuario{
        position: absolute;
		padding: 10px;
        width: 700px;
        height: 60px;
        left: 200px;
	}
    
    .nivel_academico{
        position: absolute;
		padding: 10px;
        width: 700px;
        height: 60px;
        left: 200px;
        top: 70px;
	}

    .publicaciones {
        position: absolute;
		width: 80%;
        height: 300px;
		background: rgba(255, 255, 255, 0.478);
		top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        box-shadow: 5px 5px 5px rgb(33, 31, 31);
        padding: 40px;
    }

    .lb_anio{
        padding: 10px;
        font-size: 25px;
		font-weight: bold;
        color: purple;
    }

    .articulo{
        position: relative;
		width: 100%;
        height: 50px;
		background: #fff4ec;
        border-radius: 10px;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        padding: 10px;
        margin-top: 10px;
    }
    .cap_libro{
        position: relative;
		width: 100%;
        height: 50px;
		background: #fff4ec;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        padding: 10px;
        margin-top: 10px;
    }
    .libro{
        position: relative;
		width: 100%;
        height: 50px;
		background: #fff4ec;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        padding: 10px;
        margin-top: 10px;
    }

