@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	body{
		background: rgba(253,251,238,255);
		font-family: 'Lato', sans-serif;
    	font-family: 'Roboto', sans-serif;
	}
	h1 {
		color: #fff;
	}
	a{
		color: #fff;
		text-decoration: none;
		align-items: center;
	}
	ul{
		list-style: none;
	}
	.container{
		margin: auto;
		width: 90%;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 60px;
		top: 0;left: 0;
		position: fixed;
    	background: #58146c
	
	}
	.nav-main{
		font-size: 17px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		padding: 20px 0;
	}
	.nav-brand {
		width: 50px;
	}
	/*nav left*/
	.nav-main ul{
		display: flex;
	}
	.nav-main ul li{
		padding: 10px;
	}
	.nav-main ul.nav-menu{
		flex: 1;
		margin-left: 20px;
	}
	/*NAV RIGHT*/
	.nav-menu-right{
		align-items: center;
	}
	.buscar{
		padding: 10px;
	}
	.buscar input{
		width: 400px;
		height: 30px;
		padding: 0 20px;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid silver;
		border-radius: 30px;
	}
	.btn{
		top: 0;
		right: 0;
		background: #f0ad4e;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: white;
		font-size: 20px;
		border-radius: 50%;
		cursor: pointer;
	}
	.nav-brand2 {
		width: 50px;
	}
	.nav-main ul li a{
		padding: 5px;	
	}
	.nav-main ul a:hover{
		border-bottom: 2px solid #ffffff;
	}
	.nav-menu-rightul a:hover{
		border: 2px solid #fff;
	}

	.nav-main .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.nav-main .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #58146c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #ffffff;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #2a0639;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/
    /*Agregar arhivo*/
    .cuadrado {
        width: 80%;
        height: 15%;
        background-color: #ffffff;
        position: absolute;
        left: 10%;
        top: 20%;
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
        padding: 40px;

    }
	.cuadrado1 {
        width: 80%;
        height: 15%;
        background-color: #ffffff;
        position: absolute;
        left: 10%;
        top: 40%;
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
        padding: 40px;
    }
	.cuadrado2 {
        width: 80%;
        height: 15%;
        background-color: #ffffff;
        position: absolute;
        left: 10%;
        top: 60%;
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
        padding: 40px;
    }
	.cuadrado3 {
        width: 80%;
        height: 15%;
        background-color: #ffffff;
        position: absolute;
        left: 10%;
        top: 80%;
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
        padding: 40px;
    }
	.cuadrado4 {
        width: 80%;
        height: 15%;
        background-color: #ffffff;
        position: absolute;
        left: 10%;
        top: 100%;
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
        padding: 40px;
    }
    /*Titulo*/
    .icono{
        width: 100%;
        height: 10%;
        position: absolute;
        left: 2%;
        top: 25%;
	}
    .titulo h3{
        padding: 10px;
        font-size: 25px;
    }
	.titulo input{
		width: 80%;
        position: absolute;
		padding: 0 20px 10px;
        margin-left: 1em;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid rgb(12, 12, 12);
		border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
	}

    /*Titular*/
    .titular{
        width: 100%;
        height: 10%;
        position: absolute;
        left: 7%;
        top: 5%;
	}
    .titular h3{
        padding: 10px;
        font-size: 25px;
    }
	.titular h4{
        padding: -5px;
        font-size: 25px;
    }
	.titular input{
		width: 80%;
        position: absolute;
		padding: 0 20px 10px;
        margin-left: .6em;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid rgb(12, 12, 12);
		border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
	}

    /*Colaborador*/
    .colabolador{
        width: 100%;
        height: 10%;
        position: absolute;
        left: 2%;
        top: 25%;
	}
    .colabolador h3{
        padding: 10px;
        font-size: 25px;
    }

    .si_no_colaborador {
        height: 30px;
        width: 30px;
        position: absolute;
        margin-left: .6em;
    }

	.txt_colabolador_cantidad{
		width: 100px;
        position: absolute;
		padding: 0 20px 10px;
        margin-left: 3em;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid rgb(12, 12, 12);
		border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
	}

    .txt_colabolador{
		width: 50%;
        position: absolute;
		padding: 0 20px 10px;
        margin-left: 9.6em;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid rgb(12, 12, 12);
		border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
	}

    /*Descripcion*/
    .descripcion{
        width: 100%;
        height: 10%;
        position: absolute;
        left: 2%;
        top: 35%;
	}
    .descripcion h3{
        padding: 10px;
        font-size: 25px;
    }
	.descripcion input{
		width: 75%;
        position: absolute;
		padding: 0 20px 100px;
        margin-left: .6em;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid rgb(12, 12, 12);
		border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
	}

    /*Fecha*/
    .fechas{
        width: 100%;
        height: 10%;
        position: absolute;
        left: 2%;
        top: 60%;
	}
    .fechas h3{
        padding: 10px;
        font-size: 25px;
    }
	.fechas input{
		width: 30%;
        position: absolute;
		padding: 0 20px 10px;
        margin-left: .6em;
		font-size: 18px;
		color: rgb(0, 0, 0);
		outline: none;
		border: 1px solid rgb(12, 12, 12);
		border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(156, 153, 153);
	}

    /*botones*/
    .botones{
        width: 100%;
        position: absolute;
        left: 2%;
        top: 85%;
        display: flex;
        justify-content: center;
	}
	.botones button{
		background-color: #f0ad4e; 
        color: white;
        padding: 20px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
	}
